/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.footer {
  background-color: #1bdb32; /* Warna background sesuai dengan navbar */
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

